
@{
    ViewBag.Title = "Index";
}

<h2>Dados da Pessoa 1</h2>
<p>ID: @ViewData["Id_Pessoa"]</p>
<p>Nome: @ViewData["Nome"]</p>
<p>Idade: @ViewData["Idade"]</p>

<hr />
<h2>Dados da Pessoa 2</h2>
<p>ID: @ViewBag._Id</p>
<p>Nome: @ViewBag._Nome</p>
<p>Idade: @ViewBag._Idade</p>